<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
     <!-- 在本程序之中设置要导入得资源文件路径，直接通过classpath 加载 -->
    <context:property-placeholder location="classpath:database.properties"/>
    <!-- 配置数据库连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
       <property name="driverClass" value="${db.driver}"/>  <!-- 驱动程序 -->  
       <property name="jdbcUrl" value="${db.url}"/>         <!-- 链接地址 -->  
       <property name="user" value="${db.user}"/>            <!-- 用户名 -->  
       <property name="password" value="${db.password}"/>     <!-- 密码 -->  
       <property name="maxPoolSize" value="${pool.max}" />   <!-- 最大连接数 -->  
       <property name="minPoolSize" value="${pool.min}"/>    <!-- 最小连接数 -->  
       <property name="initialPoolSize" value="${pool.init}"/>  <!-- 初始化连接数 -->  
       <property name="maxIdleTime" value="${pool.idle}"/>  <!-- 最大等待链接 -->  
    </bean>
    <!-- 配置Hibernate 的相关开发环境 SissionFactory 可以打开Session-->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 配置事物处理，所有的事物都采用AOP的方式，本初只是声明SesisonFactory要进行的事物控制 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 进入到事物的配置声明 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	      <!-- 定义一切与服务层有关的控制方法，只要是使用了特定的名称只要使用了特点的事物处理名称就会自动处理事物 -->
	      <tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED"/>

			<!--hibernate3必须配置为开启事务 否则 getCurrentSession()获取不到-->
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 那些类那些方法使用事务 -->
	<aop:config expose-proxy="true">
		<!-- 只对业务逻辑层实施事务 -->
		<!-- 定义事物的切入点 --> 
		<aop:pointcut id="pointcut"
			expression="execution(* com.exam..service.*.*(..))"/>
		<aop:advisor pointcut-ref="pointcut"
			advice-ref="txAdvice" />
	</aop:config>
</beans>