<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
 <settings>
 	<!-- 启用二级缓存 -->
 	<setting name="cacheEnabled" value="true"/>
 </settings>
 <typeAliases><!-- 别名 -->
 <typeAlias type="cm.wf.vo.news" alias="news" />
  <typeAlias type="cm.wf.vo.Members" alias="Members" />
   <typeAlias type="cm.wf.vo.Student" alias="Student" />
    <typeAlias type="cm.wf.vo.Work" alias="work" />
 </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/myBatis"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="cm/wf/vo/mapping/Member.xml"/>
    <mapper resource="cm/wf/vo/mapping/news.xml"/>
    <mapper resource="cm/wf/vo/mapping/Members.xml"/>
  </mappers>
</configuration>

